.wrap {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.list .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list .item .tag {
    padding: 0px 10px;
}

.state {
    color: black;
}

.online {
    composes: state;
    color: rgb(54, 0, 251);
}

.offline {
    composes: state;
    color: rgb(251, 0, 0);
}